streamlit
requests
PyAudio
elevenlabs
together
audio-recorder-streamlit
Pillow
av
python-docx
fpdf
pytesseract
plotly
pandas
pdf2image
PyPDF2
streamlit-option-menu
nltk
networkx
SpeechRecognition
streamlit-webrtc
matplotlib
streamlit-agraph
wordcloud
numpy
pydub
scikit-learn
reportlab
